<table>
  <thead>
    <tr>
      <th>Query</th>
      <th>IP Address</th>
    </tr>
  </thead>
  <tbody>
    <% @search_logs.each do |log| %>
      <tr>
        <td><%= log.query %></td>
        <td><%= log.ip_address %></td>
      </tr>
    <% end %>
  </tbody>
</table>


