


<table>
  <thead>
    <tr>
      <th>Query</th>
      <th>Unique IP total searches</th>
    </tr>
  </thead>
  <tbody>
    <% @trends.each do |trend| %>
      <tr>
        <td><%= trend.query %></td>
        <td><%= trend.user_count %></td>
      </tr>
    <% end %>
  </tbody>
</table>




