<header>

<div class="search-container">
<div class="searchbar" data-controller="hello">
<h1>ADVICE & SUPPORT FROM OUR TEAM</h1>
<input type="text" id="search_query" placeholder="What can we help you with" data-hello-target="query" data-action="hello#input">

<div data-hello-target="results" class="search-results">
  <!-- Results will be displayed here -->
</div>


</div>
</div>
</header>

<h2 class="article-header">All Articles</h2>
<div class="articles-container">
<% @articles.each do |article|%>
  <div class="article">
    <span><%= article.title %></span>
  </div>
<% end %>
</div>

