<header>

<div class="search-container">
<div class="searchbar">
<h1>ADVICE & SUPPORT FROM OUR TEAM</h1>
<input type="text" id="search_query" placeholder="What can we help you with">

<div id="search_results">
  <!-- Results will be displayed here -->
</div>

<div id="search-results">
  <% if @results.present? %>
    <% @results.each do |result| %>
      <h2><%= result.title %></h2>
      <p><%= result.content %></p>
    <% end %>
  <% end %>
</div>

</div>
</div>
</header>

<h2 class="article-header">All Articles</h2>
<div class="articles-container">
<% @articles.each do |article|%>
  <div class="article">
    <span><%= article.title %></span>
  </div>
<% end %>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
  var searchInput = document.getElementById('search_query');
  var searchResults = document.getElementById('search_results');

  searchInput.addEventListener('input', function() {
    var query = searchInput.value;

    var xhr = new XMLHttpRequest();
    xhr.open('GET', '/search?query=' + encodeURIComponent(query), true);
    xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
    xhr.responseType = 'text';

    xhr.onload = function() {
      if (xhr.status === 200) {
        eval(xhr.responseText)
      } else {
        console.error('Search request failed.');
      }
    };

    xhr.send();
  });
});

</script>